.App {
  height: 100vh;
  overflow: scroll;
  text-align: center;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}
html {
  scrollbar-width: none; 
}
body{
  min-height: 120vh;
  overflow: scroll;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header{
  display: flex;
  justify-content: end;
}
.LangBtnsCol{
  display: flex;
  justify-content: end;
  align-items: end;
}
.LangBtnsCol button{
  margin: 5px;
  color: white;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.ImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ImageContainer span{
  margin-top: 0px;
}
.Center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Word-1, .Word-2, .Word-3 {
  color: #000;
  font-style: italic;
  font-weight: 800;
}
.LogoWords{
  font-size: 30px;
}
.Word-2 {
  color: #fbd203;
}
.AllLinks{
  margin-top: 50px;
}
.HoneyTitle{
  font-weight: 500;
  font-size: 14px;
}
.LinkItem{
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #fbd203, #cc9a25);
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
  height: 60px;
}
.LinkItemIcon{
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LinkItemIcon svg{
  width: 20px;
  height:20px;
  color: #cc9a25;
}
.LinkItemText{
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-align: start;
}
.LocationText{
  font-size: 15px;
}
.AllLinks{
  overflow: hidden;
}
body{
  background-image: url('./Assets/Images/Pattern.png');
  background-size: cover;
  overflow: hidden;
}
/* #,#cc9a25) */
@media (max-width:1200px) {
  .LinkItem{
    height: max-content;
  }
  .LinkItemText{
    font-size: 16px;
  }
  .LocationText{
    font-size: 12px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
